:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 260px;
  background-color: #0f172a;
}

mat-drawer-container {
  height: 100%
}

.keyboard {
  position: fixed;
  /* left: 0; */
  bottom: 0;
  margin:20px;
  /* width: 100%; */
  color: white;
  /* text-align: center; */
  /* margin-:10px */
}
.footer{
  position: fixed;
  width: -webkit-fill-available;
  margin: 20px;
  bottom: 0;
}
