<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <app-header (toggleSidebarForMe)="sideBarToggler()"></app-header>
    <app-chat-room></app-chat-room>
    <div class="absolute"></div>
    <div class="row footer">
    <div class="form-group col-md-8 " >
      <input type="email" class="form-control" name="message" [(ngModel)]="message" placeholder="Enter email">
     </div>
     <div class="col-md-2">
      <button class="btn btn-primary" (click)="sendMsg()">send</button>
    </div>
  </div>
  </mat-drawer-content>
  </mat-drawer-container>
